IonPage {
    width:100%;
    display: flex;
    justify-content: center;
}

IonContent {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

.responsiveLoginGrid {
 width: 20%;
 min-width: 375px;
 height: 400px;
}
.centerXY{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media only screen and (max-width: 600px) {
    .responsiveLoginGrid {
        width: 85%;
        min-width: 350px;
       }
  }